@import "./../../styles/colors";

div .error {
  border: 1px solid red;
}

div .error input, textarea {
  border: 0;
}

div .error {
  border: 1px solid red;
  width: 216px;
}

.formField {
  display: grid;
  margin-top: 3px;
  border-radius: 5px;
}

input, textarea {
  border: 1px solid $dark-gray;
  border-radius: 5px;
  margin: 0;
  width: 212px;
  height: 22px;
  background-color: white;
  font-size: 12px;
}

textarea {
  display: flex;
  margin-right: 6px;
  flex-grow:2;
  resize: none;
  height: 50px;
  width: inherit;
}