@import "../../styles/colors";

.userItem {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: end;
  background-color: $light-gray;
  margin-bottom: 14px;
  border-radius: 8px;
}

.userItemField {
  margin: 10px 0 7px 10px;
  font-size: 13px;

  & span {
    color: $dark-gray;
  }
}

.userItemLink {
  display: grid;
  justify-items: end;
  margin: 0 10px 10px 0;
  color: $blue;
  text-decoration: none;
}